Repository chamado-app/chamado-app-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, yarn test:staged, prettier --write

docs: update README
  README.md
Due: prettier --write

chore: change the Jest test suite to vitest
  .lintstagedrc.json
  .swcrc
  jest.config.ts
  jest.e2e.config.ts
  package.json
  vite.config.ts
  vitest.config.e2e.ts
  yarn.lock
Due: eslint, yarn test:staged, prettier --write

chore: add more vitest configs
  package.json
  tsconfig.json
  vitest.config.e2e.ts
  vitest.config.ts
  yarn.lock
Due: eslint, yarn test:staged, prettier --write

chore: create Dockerfile to make image for development and production
  Dockerfile
  src/main.ts
  tsconfig.build.json
Due: eslint, yarn test:staged, prettier --write

chore: create docker-compose file for development and add PostgreSQL
  .env.example
  .gitignore
  docker-compose.yml
Due: none

chore: create Makefile to automate processes
  Makefile
Due: none

docs: update run project process
  README.md
Due: prettier --write

chore: configure TypeOrm module
  package.json
  src/app.module.ts
  src/config/index.ts
  src/config/typeorm.module.ts
  tsconfig.build.json
  yarn.lock
Due: eslint, yarn test:staged, prettier --write

chore: configure nestjs ConfigModule to load env files
  .env.example
  package.json
  src/app.module.ts
  src/config/config.module.ts
  src/config/typeorm.module.ts
  src/config/types/config.ts
  src/config/types/index.ts
  yarn.lock
Due: eslint, yarn test:staged, prettier --write

chore: add Makefile actions to manipulate typeorm
  Makefile
  package.json
  src/config/typeorm.module.ts
Due: eslint, yarn test:staged, prettier --write

feat: add users migration
  src/database/helpers/index.ts
  src/database/helpers/migrations.ts
  src/database/migrations/1683494331204-CreateUsersTable.ts
Due: eslint, yarn test:staged, prettier --write

feat: add users module and entity
  src/app.module.ts
  src/modules/index.ts
  src/modules/users/index.ts
  src/modules/users/user.entity.ts
  src/modules/users/users.module.ts
Due: eslint, yarn test:staged, prettier --write

chore: ignore config and database directory from tests
  vitest.config.ts
Due: eslint, yarn test:staged, prettier --write

fix: typeorm run on container
  Dockerfile
  package.json
Due: prettier --write

feat: add token repository and save token
  Makefile
  src/core/domain/entities/token.entity.ts
  src/core/domain/entities/user.entity.ts
  src/core/repositories/token.repository.ts
  src/data/database/pg/entities/pg-token.entity.ts
  src/data/database/pg/entities/pg-user.entity.ts
  src/data/database/pg/migrations/1684018539078-CreateTokensTable.ts
  src/data/database/pg/repositories/pg-token-repository.ts
  src/main/app.module.ts
  src/main/enum/providers.ts
  src/main/factories/providers/auth.provider.ts
  src/main/factories/providers/database.provider.ts
  src/main/factories/providers/user.provider.ts
  src/presentation/modules/auth.module.ts
  src/presentation/modules/user.module.ts
  src/usecases/authenticate.usecase.ts
Due: eslint, yarn test:staged, prettier --write

refactor: improve clean architecture structure
  Makefile
  package.json
  src/data/database/pg/entities/pg-user.entity.ts
  src/data/database/pg/repositories/pg-token-repository.ts
  src/data/database/pg/repositories/pg-user-repository.ts
  src/data/enum/index.ts
  src/data/enum/providers.ts
  src/infra/config/database.ts
  src/infra/config/index.ts
  src/infra/environment-config-module/environment.module.ts
  src/infra/environment-config-module/index.ts
  src/infra/index.ts
  src/infra/type-orm-module/index.ts
  src/infra/type-orm-module/type-orm.config.ts
  src/infra/type-orm-module/type-orm.module.ts
  src/main/app.module.ts
  src/main/factories/auth.provider.ts
  src/main/factories/database.provider.ts
  src/main/factories/index.ts
  src/main/factories/user.provider.ts
  src/presentation/factories/index.ts
  src/presentation/factories/modules/auth-module-metadata.factory.ts
  src/presentation/factories/modules/index.ts
  src/presentation/factories/modules/users-module-metadata.factory.ts
  src/presentation/factories/repositories/index.ts
  src/presentation/factories/repositories/token-repository.factory.ts
  src/presentation/factories/repositories/user-repository.factory.ts
  src/presentation/factories/usecases/authenticate-usecase.factory.ts
  src/presentation/factories/usecases/index.ts
  src/presentation/modules/auth.module.ts
  src/presentation/modules/global/database.module.ts
  src/presentation/modules/global/index.ts
  src/presentation/modules/user.module.ts
  src/usecases/authenticate.usecase.ts
Due: eslint, yarn test:staged, prettier --write

chore: add editorconfig
  .editorconfig
  Makefile
Due: none

feat: add HashComparer to AuthenticateUsecase
  package.json
  src/domain/contracts/hash/hash-compare.ts
  src/domain/contracts/hash/index.ts
  src/domain/contracts/index.ts
  src/domain/entities/user.entity.ts
  src/infra/adapters/bcrypt.adater.ts
  src/infra/adapters/index.ts
  src/infra/index.ts
  src/presentation/factories/adapters/hash.factory.ts
  src/presentation/factories/adapters/index.ts
  src/presentation/factories/index.ts
  src/presentation/factories/modules/auth-module-metadata.factory.ts
  src/presentation/factories/usecases/authenticate-usecase.factory.ts
  src/usecases/authenticate.usecase.ts
  yarn.lock
Due: eslint, yarn test:staged, prettier --write

refactor: rename UseCase as Usecase
  src/domain/base/usecase.ts
  src/presentation/controllers/auth.controller.ts
  src/presentation/factories/usecases/authenticate-usecase.factory.ts
  src/usecases/authenticate.usecase.ts
Due: eslint, yarn test:staged, prettier --write

feat: add JWT generator
  .env.example
  package.json
  src/data/database/pg/migrations/1684018539078-CreateTokensTable.ts
  src/domain/contracts/index.ts
  src/domain/contracts/jwt/index.ts
  src/domain/contracts/jwt/jwt-generator.ts
  src/domain/mappers/authenticated.mapper.ts
  src/infra/adapters/index.ts
  src/infra/adapters/jwt.adater.ts
  src/infra/config/app.ts
  src/infra/index.ts
  src/infra/jwt-module/index.ts
  src/infra/jwt-module/jwt.module.ts
  src/main/app.module.ts
  src/presentation/factories/adapters/index.ts
  src/presentation/factories/adapters/jwt.factory.ts
  src/presentation/factories/modules/auth-module-metadata.factory.ts
  src/presentation/factories/usecases/authenticate-usecase.factory.ts
  src/usecases/authenticate.usecase.ts
  yarn.lock
Due: eslint, yarn test:staged, prettier --write

feat: add rule to delete all JWT tokens from user before create new
  src/data/database/pg/entities/pg-token.entity.ts
  src/data/database/pg/entities/pg-user.entity.ts
  src/data/database/pg/helpers/columns.ts
  src/data/database/pg/helpers/index.ts
  src/data/database/pg/helpers/table-names.ts
  src/data/database/pg/migrations/1683494331204-CreateUsersTable.ts
  src/data/database/pg/migrations/1684018539078-CreateTokensTable.ts
  src/data/database/pg/repositories/pg-repository.ts
  src/domain/base/repository.ts
  src/domain/dtos/authenticated.dto.ts
  src/domain/entities/token.entity.ts
  src/usecases/authenticate.usecase.ts
Due: eslint, yarn test:staged, prettier --write

docs: update README informations
  README.md
Due: prettier --write

chore: add custom network to docker-compose
  docker-compose.yml
Due: none

chore: configure class-validator package
  package.json
  src/main/index.ts
  yarn.lock
Due: eslint, yarn test:staged, prettier --write

feat: move dtos to shared folder and make validation
  src/domain/dtos/authenticate.dto.ts
  src/domain/mappers/authenticate.mapper.ts
  src/domain/mappers/authenticated.mapper.ts
  src/presentation/controllers/auth.controller.ts
  src/shared/dtos/authenticate/authenticate.dto.ts
  src/shared/dtos/authenticate/authenticated.dto.ts
  src/shared/dtos/authenticate/index.ts
  src/shared/dtos/index.ts
  src/usecases/authenticate.usecase.ts
Due: eslint, yarn test:staged, prettier --write

chore: make all files conforms editorconfig
  .editorconfig
  .gitignore
Due: none

fix: returns correct HttpStatusCode after authenticated
  src/presentation/controllers/auth.controller.ts
Due: eslint, yarn test:staged, prettier --write

fix: return correct data on AuthenticateDto.mapTo
  src/domain/mappers/authenticate.mapper.ts
Due: eslint, yarn test:staged, prettier --write

chore: add `@faker-js/faker`
  package.json
  yarn.lock
Due: prettier --write

feat: add faker test helper
  tests/__helpers__/faker/faker.ts
  tests/__helpers__/faker/index.ts
  tests/__helpers__/index.ts
  tsconfig.json
  vitest.config.ts
Due: eslint, yarn test:staged, prettier --write

test: ensure authenticate-mapper works corretly
  tests/__mocks__/dtos/authenticate-dto.mock.ts
  tests/__mocks__/dtos/index.ts
  tests/__mocks__/entities/index.ts
  tests/__mocks__/entities/user-entity.mock.ts
  tests/__mocks__/index.ts
  tests/domain/mappers/authenticate-mapper.spec.ts
Due: eslint, yarn test:staged, prettier --write

test: ensure AuthenticatedMapper works corretly
  tests/__mocks__/dtos/authenticated-dto.mock.ts
  tests/__mocks__/dtos/index.ts
  tests/__mocks__/entities/index.ts
  tests/__mocks__/entities/token-entity.mock.ts
  tests/domain/mappers/authenticated-mapper.spec.ts
Due: eslint, yarn test:staged, prettier --write

test: add skeleton of controller and usecase tests
  tests/e2e/auth-controller.test.ts
  tests/unit/domain/mappers/authenticate-mapper.spec.ts
  tests/unit/domain/mappers/authenticated-mapper.spec.ts
  tests/unit/usecases/authenticate-usecase.ts
Due: eslint, yarn test:staged, prettier --write

feat: open CORS
  src/main/index.ts
Due: eslint, yarn test:staged, prettier --write

feat: add factory to create user
  Makefile
  package.json
  src/data/database/pg/factories/user.factory.ts
  src/data/database/pg/seeds/users.seed.ts
  src/domain/contracts/hash/hash-generator.ts
  src/domain/contracts/hash/index.ts
  src/infra/adapters/bcrypt.adater.ts
  src/infra/config/database.ts
  src/infra/type-orm-module/type-orm.config.ts
  src/presentation/factories/adapters/hash.factory.ts
  yarn.lock
Due: eslint, yarn test:staged, prettier --write

feat: add category entity and database migration
  src/data/database/pg/entities/index.ts
  src/data/database/pg/entities/pg-category.entity.ts
  src/data/database/pg/helpers/table-names.ts
  src/data/database/pg/migrations/1694365804269-CreateCategoryTable.ts
  src/domain/entities/category.entity.ts
  src/domain/entities/index.ts
Due: eslint, yarn test:staged, prettier --write

refactor: change mappers and usecases folders strategy
  src/domain/mappers/authenticate/authenticate.mapper.ts
  src/domain/mappers/authenticate/authenticated.mapper.ts
  src/domain/mappers/authenticate/index.ts
  src/domain/mappers/index.ts
  src/usecases/authenticate/authenticate.usecase.ts
  src/usecases/authenticate/index.ts
  src/usecases/index.ts
Due: eslint, yarn test:staged, prettier --write

feat: add custom properties to validation pipe
  src/main/app.module.ts
  src/main/index.ts
  src/main/pipes/index.ts
  src/main/pipes/validation.pipe.ts
Due: eslint, yarn test:staged, prettier --write

Path conditions:
  eslint: any of: *.{js,ts}
  yarn test:staged: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,md,json}
